
server:
  port: 8080

spring:
  application:
    name: Demo
  profiles:
#    active: dev
  data:
    elasticsearch:
      cluster-name: elasticsearch
      cluster-nodes: 127.0.0.1:9300
  datasource:
    connectionProperties: druid.stat.mergeSql=true;druid.stat.slowSqlMillis=500
    driver-class-name: com.mysql.cj.jdbc.Driver
    filters: stat,wall,slf4j
    initialSize: 5
    maxActive: 20
    maxPoolPreparedStatementPerConnectionSize: 20
    maxWait: 60000
    minEvictableIdleTimeMillis: 300000
    minIdle: 5
    password: 123456
    poolPreparedStatements: true
    testOnBorrow: false
    testOnReturn: false
    testWhileIdle: true
    timeBetweenEvictionRunsMillis: 60000
    type: com.alibaba.druid.pool.DruidDataSource
    url: jdbc:mysql://127.0.0.1:3306/test?serverTimezone=CTT&useUnicode=true&characterEncoding=utf-8&allowMultiQueries=true
    useGlobalDataSourceStat: true
    username: root
    validationQuery: SELECT 1 FROM DUAL

  rabbitmq:
    host: 127.0.0.1
    password: guest
    port: 5672
    username: guest

  redis:
    host: 127.0.0.1
    password: ''
    port: 6379

swagger:
  base-package: com.lgy.demo
  description: Swagger整合
  terms-of-service-url: lgykuuga
  title: demo-Swagger-title
  version: 1.0

##xxl_job是否开启 on/off
system:
  xxl:
    job: 'off'

xxl:
  job:
    accessToken: ''
    admin:
      addresses: http://127.0.0.1:8090/xxl-job-admin
    executor:
      appname: xxl-job-executor-demo
      ip: ''
      logpath: F:/demo-logging/xxl-job
      logretentiondays: -1
      port: 9999

logging:
  file: F:/demo-logging/spring-boot.log
  file.max-history: 30
  file.max-size: 50MB
  level:
    com:
      lgy: info
  pattern:
    console: '%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n'
    file: '%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n'

mybatis:
  config-location: classpath:mybatis/mybatis-config.xml
  mapper-locations: classpath:mybatis/mapper/*.xml


rocketmq:
  consumer:
    groupName: ${spring.application.name}
    ##该应用是否启用消费者
    isOnOff: 'on'
    #mq的nameserver地址
    namesrvAddr: 127.0.0.1:9876
    #该消费者订阅的主题和tags("*"号表示订阅该主题下所有的tags),格式：topic~tag1||tag2||tag3;topic2~*;
    topics: DemoTopic~*;
    consumeThreadMin: 20
    consumeThreadMax: 64
    #设置一次消费消息的条数，默认为1条
    consumeMessageBatchMaxSize: 1
  producer:
    #发送同一类消息的设置为同一个group，保证唯一,默认不需要设置，rocketmq会使用ip@pid(pid代表jvm名字)作为唯一标示
    groupName: ${spring.application.name}
    #该应用是否启用生产者
    isOnOff: 'on'
    #消息最大长度 默认1024*4(4M)
    maxMessageSize: 4096
    #mq的nameserver地址
    namesrvAddr: 127.0.0.1:9876
    #发送消息失败重试次数，默认2
    retryTimesWhenSendFailed: 2
    #发送消息超时时间,默认3000
    sendMsgTimeout: 3000
