<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgy.demo.mapper.DemoMapper">

    <select id="queryDemoById" resultType="com.lgy.demo.bean.DemoBean">
        SELECT * FROM demo where id = #{id}
    </select>

    <insert id="insertDemo">
        INSERT INTO demo(name, value, crco, crna, crdt) values (#{name}, #{value}, #{crco}, #{crna}, #{crdt})
    </insert>

    <update id="updateDemo">
        update demo set name = #{name}, value = #{value} where id = #{id}
    </update>

    <delete id="deleteDemo">
        DELETE FROM demo WHERE id = #{id}
    </delete>

    <select id="queryAll" resultType="com.lgy.demo.bean.DemoBean">
        select * from demo
    </select>

</mapper>